.page {
    width:75%;
    margin:auto;
}

.component{
    padding:10px;
    background-color:#e5f1fc;
    border-radius:3px;
    margin-bottom: 10px;
}

.button{
    padding:5px 20px 5px 20px;
    border:none;
    border-radius:3px;
}

.form-control{
    margin:auto;
}

#newcart{
    text-align:right;
    padding:10px 0px 10px 0px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
