<div class="col-md-10 col-md-offset-1">
    <div id="newcart">
        <input type="button" value="New Customer" (click)="reset()" class="button btn-success"/>
    </div>
    <div *ngIf="!proceed" class="component text-center">
        <input [(ngModel)]="customerName" type="text" name="customerName" placeholder="Enter a customer name..." class="form-control text-center"/>
        <br />
        <input type="button" value="Continue" (click)="proceedToCart()" class="button btn-primary"/>
        <br />
    </div>

    <div *ngIf="proceed">
        <div class="component text-center">
            <strong>Customer Name: </strong>
            <p>{{customerName}}</p>
        </div>
        <div class="component">
            <cart-component [entitledPrivilege]="entitledPrivilege"></cart-component>
        </div>
    </div>
    <!-- For debugging-->
    <div>{{errorMessage}}</div>
</div>
    


